deploy_to_milesweb:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache lftp openssh-client sshpass
  script:
    # 1. FTP Upload (Files transfer)
    - lftp -e "set ftp:ssl-allow no; open $FTP_SERVER; user $FTP_USERNAME $FTP_PASSWORD; 
      mirror -R frontend/dist/ tts.testingprojects.online/;
      mirror -R backend/ tts_app/backend/; 
      put backend/requirements.txt -o tts_app/requirements.txt; 
      put passenger_wsgi.py -o tts_app/passenger_wsgi.py;
      quit"

    # 2. SSH Automation (Libraries installation & App Restart)
    - export SSHPASS=$SSH_PASSWORD
    - sshpass -e ssh -o StrictHostKeyChecking=no -p 22999 $FTP_USERNAME@$FTP_SERVER "
      cd /home/rseivuhw/tts_app && 
      source /home/rseivuhw/virtualenv/tts_app/3.11/bin/activate && 
      python3 -m pip install -r requirements.txt && 
      mkdir -p backend/tmp && 
      touch backend/tmp/restart.txt"
  only:
    - main