deploy_to_milesweb:
  stage: deploy
  image: alpine:latest
  dependencies:
    - build_frontend
  before_script:
    - apk add --no-cache lftp openssh-client
    # Private Key ki permissions set karna taaki SSH ise reject na kare
    - chmod 400 $SSH_PRIVATE_KEY
  script:
    # 1. FTP Upload (Frontend dist files and Backend code)
    - lftp -e "set ftp:ssl-allow no; open $FTP_SERVER; user $FTP_USERNAME $FTP_PASSWORD; 
      mirror -R frontend/dist/ tts.testingprojects.online/;
      mirror -R backend/ tts_app/backend/; 
      put backend/requirements.txt -o tts_app/requirements.txt; 
      put passenger_wsgi.py -o tts_app/passenger_wsgi.py;
      quit"

    # 2. SSH Execution (Installing libraries & Restarting App)
    - ssh -o StrictHostKeyChecking=no -p 22999 -i $SSH_PRIVATE_KEY $FTP_USERNAME@$FTP_SERVER "
      cd /home/rseivuhw/tts_app && 
      source /home/rseivuhw/virtualenv/tts_app/3.11/bin/activate && 
      python3 -m pip install -r requirements.txt && 
      mkdir -p backend/tmp && 
      touch backend/tmp/restart.txt"
  only:
    - main